<ion-header>
  <ion-toolbar>
    <ion-title>Agregar contacto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Número de celular</ion-label>
    <ion-input type="tel" [(ngModel)]="phoneNumber" placeholder="Ej: 3001234567"></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="addContact()">
    Agregar
  </ion-button>
</ion-content>
